h1 {
  background-color: chartreuse;
}
body {
  background-color: crimson;
}
h1 {
  font-family: cursive;
}
p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}
